<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <!-- Windows Forms'un yüksek DPI desteğini açar. Manifestodaki
         PerMonitorV2 işletim sistemine, buradaki ayar ise Windows Forms'a
         söylüyor; ikisi birlikte gerekiyor. .NET Framework 4.7 ve üzeri
         şart, proje 4.7.2 hedefliyor. -->
    <System.Windows.Forms.ApplicationConfigurationSection>
        <add key="DpiAwareness" value="PerMonitorV2" />
    </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
